{% block seo %}

    {% if seo_config.seo_title %}
        <title>{{ seo_config.seo_title }}</title>
        <meta property='og:title' content='{{ seo_config.seo_title }}'>
    {% else %}
        <title>{{ object.seo_title }}</title>
        <meta property='og:title' content='{{ object.seo_title }}'>
    {% endif %}

    {% if seo_config.seo_description %}
        <meta name="description" content="{{ seo_config.seo_description }}">
        <meta property='og:description' content='{{ seo_config.seo_description }}'>
    {% else %}
        <meta name="description" content="{{ object.seo_description }}">
        <meta property='og:description' content='{{ object.seo_description }}'>
    {% endif %}

{% endblock %}